.container2 {
  background-color: black;
  height: calc(100vh - 10px); /* Subtract the border width from the height */
  width: 100%; /* Remove calc() from width */
  border: 5px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0px 0px 5px 0px;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(237, 232, 232);
  transition: transform 0.3s;
}
